#mainContainer{
	display: flex;
	flex-direction: column;
}

#inputContainer{
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	top: 30%;
	background-color: white;
	padding: 10px;
}

#song_position{
	
}

#fingeringForm{

}